<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Solar Irradiation Deviation Tool</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <main class="container">
    <section class="card">
      <h1>Tool zur Visualisierung von Abweichungen der Sonneneinstrahlung</h1>
      <p class="subtitle">Vergleicht ein Analysejahr mit einem langfristigen Referenzzeitraum (Dabei stehen die Jahre 1991 - <span id="currentYear"></span> zur Verfügung). Das Analysejahr darf nicht im Referenzzeitraum liegen.</p>

      <div class="controls">
        <div>
          <label for="region">Region</label>
          <select id="region">
            <option value="" disabled selected>Bitte Standort wählen</option>
            <option value="germany">Deutschland</option>
            <option value="north">Nord</option>
            <option value="south">Süd</option>
          </select>
        </div>

        <div>
          <label for="analysisYear">Analysejahr</label>
          <input id="analysisYear" type="number" placeholder="z. B. 2024">
        </div>

        <div>
          <label for="referenceStart">Referenz von</label>
          <input id="referenceStart" type="number" placeholder="z. B. 1991">
        </div>

        <div>
          <label for="referenceEnd">Referenz bis</label>
          <input id="referenceEnd" type="number" placeholder="z. B. 2020">
        </div>

        <div class="button-wrap">
          <button id="loadButton">Analysieren</button>
        </div>
        <div id="errorBox" class="error hidden"></div>
      </div>
    </section>

    <section class="card hidden" id="deviationSection">
      <h2>Monatliche Abweichungen vs. Referenzzeitraum</h2>
      <p class="chart-copy-sub">
        So lässt sich schnell erkennen, in welchen Monaten das Analysejahr vom klimatologischen Mittel abweicht. Sofern eine PV-Anlage also im Analysejahr in einem Monat schlechter performt, muss das nicht an der Anlage liegen, sondern könnte auch an einem ungewöhnlich kühlen Monat liegen. Umgekehrt könnte ein guter Monat die Leistung einer schlecht geplanten Anlage verschleiern.
      </p>
      <canvas id="deviationChart"></canvas>
      <p class="chart-copy">
        Positive Werte bedeuten überdurchschnittliche, negative Werte unterdurchschnittliche Einstrahlung.
        Je dunkler die Balken, desto stärker ist die Abweichung vom langjährigen Mittel.
      </p>
      <p class="chart-copy-sub">
        Ab etwa ±10 % ist ein wetterbedingter Einfluss auf die PV-Produktion in der Regel deutlich relevant.
      </p>
    </section>

  </main>

  <script>
    const regionInput = document.getElementById("region");
    const analysisYearInput = document.getElementById("analysisYear");
    const referenceStartInput = document.getElementById("referenceStart");
    const referenceEndInput = document.getElementById("referenceEnd");
    const loadButton = document.getElementById("loadButton");
    const deviationSection = document.getElementById("deviationSection");

    let deviationChart = null;

    async function fetchJson(url) {
      const response = await fetch(url); //Monthly Deviation API aufrufen
      const data = await response.json(); //Da kommen jetzt die Daten der Rückgabe der monthly_deviation-Funktion in app.py an, also die Daten aus dwd_service.py

      if (!response.ok) {
        throw new Error(data.error || "Unbekannter Fehler");
      }

      return data;
    }

    function renderDeviationChart(data) { //Bekommt ja die Daten aus fetchJson, also die Daten aus dwd_service.py und rendert damit den Chart
      if (deviationChart) deviationChart.destroy();

      deviationChart = new Chart(document.getElementById("deviationChart"), {
            type: "bar", //Balkendiagramm
            data: {
              labels: data.months,
              datasets: [
                {
                  label: `Abweichung ${data.analysis_year} vs ${data.reference_period}`,
                  data: data.deviation_values,
                  backgroundColor: data.deviation_percentage_values.map(getBarColorFromPercentage),
                  borderColor: data.deviation_percentage_values.map(getBorderColorFromPercentage),
                  borderWidth: 1
                }
              ]
            },
            options: {
              responsive: true, //Chart passt sich der Bildschirmgröße an
              plugins: {
                legend: { position: "top", labels: {boxWidth: 0,padding: 20} },
                tooltip: {
                  callbacks: {
                    label: function(context) { //Wenn man über einen Balken hovert, dann steht da das:
                      const i = context.dataIndex;
                      const abs = data.deviation_values[i];
                      const percentage = data.deviation_percentage_values[i];
                      const deviation = data.deviation_levels[i];

                      return `Abweichung: ${abs} ${data.unit} (${percentage}%) – ${deviation}`;
                    }
                  }
                }
              },
              scales: {
                y: {
                  title: {
                    display: true,
                    text: `Abweichung (${data.unit})`
                  }
                }
              }
            }
      });
    }

    async function loadCharts() {
      const region = regionInput.value;
      const analysisYear = analysisYearInput.value;
      const referenceStart = referenceStartInput.value;
      const referenceEnd = referenceEndInput.value;

      if (!region || !analysisYear || !referenceStart || !referenceEnd) {
        shakeButton();
        return;
      }

      try {
        const deviationData = await fetchJson(
          `/api/monthly-deviation?region=${region}&analysis_year=${analysisYear}&reference_start=${referenceStart}&reference_end=${referenceEnd}`
        );
        renderDeviationChart(deviationData);


        deviationSection.classList.remove("hidden");

      } catch (err) {
        shakeButton();
      }
    }

    function getBarColorFromPercentage(percentage) {
      const abs = Math.abs(percentage);

      let alpha = 0.2;
      if (abs >= 20) alpha = 0.95;
      else if (abs >= 10) alpha = 0.75;
      else if (abs >= 5) alpha = 0.5;

      return percentage >= 0
        ? `rgba(220, 38, 38, ${alpha})`
        : `rgba(37, 99, 235, ${alpha})`;
    }

    function getBorderColorFromPercentage(percentage) {
      return percentage >= 0 ? "rgb(220, 38, 38)" : "rgb(37, 99, 235)";
    }

    function shakeButton() {
      loadButton.classList.add("shake");
      setTimeout(() => loadButton.classList.remove("shake"), 350);
    }
    loadButton.addEventListener("click", loadCharts);
    document.getElementById("currentYear").textContent = new Date().getFullYear();
  </script>
</body>
</html>